@if(items.length){ @for(item of items; track item; let idx = $index){
<div class="d-flex align-items-center mb-8" cdkDrag>
  <!-- begin::Bullet -->
  <span
    class="bullet bullet-vertical h-40px mx-5"
    [ngClass]="idx < 10 ? 'bg-' + colors[0] : 'bg-' + colors[1]"
  ></span>
  <!-- end::Bullet -->
  <!-- begin::Checkbox -->
  <!-- <div class="form-check form-check-custom form-check-solid mx-5">
      <input class="form-check-input" type="checkbox" value="" />
    </div> -->
  <!-- end::Checkbox -->
  <!-- begin::Description -->
  <div class="flex-grow-1">
    <a href="#" class="text-gray-800 text-hover-primary fw-bolder fs-6">
      {{ item.title }}
    </a>
    <span class="text-muted fw-bold d-block">{{ item.secTitle }}</span>
  </div>
  <!-- end::Description -->
  <span
    class="badge fs-8 fw-bolder"
    [ngClass]="
      idx < 10 ? 'badge-light-' + colors[0] : 'badge-light-' + colors[1]
    "
    >{{ timeSinceInArabic(item.publishDate) }}</span
  >
</div>
} }@else {
<p class="text-center text-gray-900 fw-bolder fs-6">لا يوجد بيانات</p>
}
