.image-input-placeholder {
  background-image: url("../../../../assets/media/svg/files/blank-image.svg");
}

[data-bs-theme="dark"] .image-input-placeholder {
  background-image: url("../../../../assets/media/svg/avatars/blank-dark.svg");
}
