<div class="card card-xl-stretch mb-xl-8">
  <div class="card-header justify-content-between border-0 mt-2">
    <h3 class="card-title fw-bolder text-gray-900">المحتوي المحذوف</h3>
    <div class="w-100 d-flex gap-2 my-5">
      <label
        class="checkbox checkbox-xl checkbox-inline ms-2 d-flex align-items-center"
      >
        <input
          class="form-check-input"
          type="checkbox"
          (change)="toggleSelectAll($event)"
          [checked]="items.length === selectedNews.length"
          data-kt-check="true"
          data-kt-check-target=".widget-9-check"
        />
        <span class="me-2">الكل</span>
      </label>
      <div class="flex-grow-1 position-relative">
        <app-keenicon
          name="magnifier"
          class="fs-2 position-absolute top-50 start-0 ms-5 translate-middle-y"
        ></app-keenicon>
        <input
          type="text"
          class="form-control form-control-solid pe-5"
          name="search"
          placeholder="ابحث عن الأخبار المحذوفة من هنا.."
          (input)="onSearch($event)"
        />
      </div>
      <div class="card-toolbar">
        <!-- begin::Menu -->
        <button
          type="button"
          class="btn btn-sm btn-icon btn-color-primary btn-active-light-primary"
          data-kt-menu-trigger="click"
          data-kt-menu-placement="bottom-end"
          data-kt-menu-flip="top-end"
        >
          <app-keenicon name="category" class="fs-2"></app-keenicon>
        </button>
        <app-dropdown-menu
          [filterOptions]="filterOption"
          (filterOptionsEmitter)="recieveFilterOption($event)"
        ></app-dropdown-menu>
        <button
          (click)="deleteDeletedNew()"
          class="btn btn-sm btn-danger d-flex align-items-center gap-3 me-2"
          [disabled]="isLoading$ | async"
        >
          حذف
        </button>
      </div>
    </div>
  </div>
  <div class="card-body pt-2">
    <app-group-list
      [isLoading]="isLoading$ | async"
      [groupListOptions]="groupListOptions"
      [selectedItems]="selectedNews"
      [items]="items"
    ></app-group-list>
  </div>
  <div class="card-footer text-center">
    <app-pagination [pagination]="pagination"></app-pagination>
  </div>
</div>
