<app-modal #modal [modalConfig]="modalConfig">
  <form [formGroup]="voteForm" novalidate="novalidate" id="addVote">
    <div class="row mb-6">
      <label class="col-lg-2 col-form-label fw-bold fs-6">الباب</label>
      <div class="col-lg-8">
        <select
          class="form-select w-fit form-select-solid"
          data-kt-select2="true"
          data-placeholder="Select option"
          data-allow-clear="true"
          formControlName="sectionId"
        >
          @for(item of categories; track item;){
          <option value="{{ item.categoryID }}">{{ item.name }}</option>
          }
        </select>
      </div>
    </div>
    <div class="row mb-6">
      <label class="col-lg-2 col-form-label required fw-bold fs-6"
        >استطلاع الرأي</label
      >
      <div class="col-lg-8">
        <input
          type="text"
          class="form-control form-control-lg form-control-solid"
          formControlName="pollBody"
        />
        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'استطلاع الرأي مطلوب',
            control: voteForm.controls['pollBody']
          }"
        ></ng-container>
      </div>
    </div>
    <ng-template
      #formError
      let-control="control"
      let-message="message"
      let-validation="validation"
    >
      <ng-container
        *ngIf="
          control.hasError(validation) &&
          (control.dirty || control.touched || (!control.valid && submitted))
        "
      >
        <div class="fv-plugins-message-container">
          <span role="alert" class="text-danger">
            {{ message }}
          </span>
        </div>
      </ng-container>
    </ng-template>
    <div formArrayName="voteOptions">
      @for(control of voteOptions.controls; track control; let i = $index){
      <div class="row mb-6">
        <label class="col-lg-2 col-form-label required fw-bold fs-6"
          >الأختيار رقم {{ i + 1 }}</label
        >
        <div class="d-flex align-items-center gap-2 col-lg-8">
          <input
            type="text"
            class="form-control form-control-lg form-control-solid"
            [formControlName]="i"
            [ngClass]="i + 1 === voteOptions.length ? 'flex-shrink-1' : ''"
          />
          @if(i + 1 === voteOptions.length){
          <button (click)="toggleVoteOption()" class="btn bg-primary btn-icon">
            <app-keenicon name="plus" class="fs-2 text-white"></app-keenicon>
          </button>
          @if(i + 1 > 2){
          <button (click)="toggleVoteOption(i)" class="btn bg-danger btn-icon">
            <app-keenicon
              name="minus"
              class="fs-2 text-white"
            ></app-keenicon></button
          >} }
        </div>
        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'محتوي الأختيار مطلوب',
            control: control
          }"
        ></ng-container>
        @if(i + 1 === voteOptions.length){
        <p class="col-10 me-auto mt-1 text-muted fw-semibold me-1">
          يمكنك اضافة اختيار اخر بالضغط علي الزر زائد @if(i+1>2){, ويمكنك ازالة
          الأختيار بالضغط عالزر ناقص. }
        </p>
        }
      </div>
      <ng-template
        #formError
        let-control="control"
        let-message="message"
        let-validation="validation"
      >
        <ng-container
          *ngIf="
            control.hasError(validation) &&
            (control.dirty || control.touched || (!control.valid && submitted))
          "
        >
          <div class="fv-plugins-message-container col-lg-10 me-auto">
            <span role="alert" class="text-danger">
              {{ message }}
            </span>
          </div>
        </ng-container>
      </ng-template>
      }
    </div>
    <div class="row mb-6">
      <label class="col-lg-2 col-form-label required fw-bold fs-6"
        >تاريخ البداية</label
      >
      <div class="col-lg-8 d-flex">
        <app-date-time-picker
          (dateEmitter)="receiver('startDate', $event)"
        ></app-date-time-picker>
      </div>
    </div>
    <div class="row mb-6">
      <label class="col-lg-2 col-form-label required fw-bold fs-6"
        >تاريخ النهاية</label
      >
      <div class="col-lg-8 d-flex">
        <app-date-time-picker
          (dateEmitter)="receiver('endDate', $event)"
        ></app-date-time-picker>
      </div>
    </div>
  </form>
</app-modal>
<button class="btn btn-sm mx-2 btn-primary" (click)="openModal()">
  أضافة أستطلاع
</button>
