<div class="card mb-5 mb-xl-10">
  <!-- <div
    class="card-header border-0 cursor-pointer"
    role="button"
    data-bs-toggle="collapse"
    data-bs-target="#kt_account_profile_details"
    aria-expanded="true"
    aria-controls="kt_account_profile_details"
  >
    <div class="card-title m-0">
      <h3 class="fw-bolder m-0">Profile Details</h3>
    </div>
  </div> -->
  <div id="kt_account_profile_details" class="collapse show">
    <form [formGroup]="addNewForm" novalidate="" class="form">
      <div class="card-body border-top p-9">
        <div class="row mb-6">
          <label class="col-lg-2 col-form-label fw-bold fs-6">
            نوع المادة
          </label>
          <div class="col-lg-4">
            <select
              class="form-select w-fit form-select-solid"
              data-kt-select2="true"
              data-placeholder="Select option"
              data-allow-clear="true"
              formControlName="contentType"
            >
              @for(item of contentTypes; track item; let idx = $index){
              <option value="{{ item.typeId }}">{{ item.contentType1 }}</option>
              }
            </select>
          </div>
          <!-- <div class="col-lg-8">
            <div
              class="image-input image-input-outline"
              data-kt-image-input="true"
              [style.background-image]="'url(./assets/media/avatars/blank.png'"
            >
              <div
                class="image-input-wrapper w-125px h-125px"
                [style.background-image]="
                  'url(./assets/media/avatars/300-1.jpg'
                "
              ></div>
            </div>
          </div> -->
        </div>
        <div class="separator my-3 opacity-75"></div>
        <div class="row mb-6">
          <label class="col-lg-2 col-form-label fw-bold fs-6">التصنيف</label>
          <div class="col-lg-4">
            <select class="form-select form-select-solid" name="sectionId">
              <option value="1">اخبار</option>
              <option value="2">موسمي</option>
            </select>
          </div>
          <label class="col-lg-2 col-form-label fw-bold fs-6">القسم</label>
          <div class="col-lg-4">
            <select class="form-select form-select-solid" name="catId">
              <option value="1">اخبار</option>
              <option value="2">موسمي</option>
            </select>
            <!-- <div class="col-lg-8">
              <div
                class="image-input image-input-outline"
                data-kt-image-input="true"
                [style.background-image]="'url(./assets/media/avatars/blank.png'"
              >
                <div
                  class="image-input-wrapper w-125px h-125px"
                  [style.background-image]="
                    'url(./assets/media/avatars/300-1.jpg'
                  "
                ></div>
              </div>
            </div> -->
          </div>
          <!-- <div class="col-lg-8">
            <div
              class="image-input image-input-outline"
              data-kt-image-input="true"
              [style.background-image]="'url(./assets/media/avatars/blank.png'"
            >
              <div
                class="image-input-wrapper w-125px h-125px"
                [style.background-image]="
                  'url(./assets/media/avatars/300-1.jpg'
                "
              ></div>
            </div>
          </div> -->
        </div>
        <div class="row mb-6">
          <label class="col-lg-2 col-form-label fw-bold fs-6">
            <span class="required">كتب</span>
          </label>
          <div class="col-lg-10 fv-row">
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              name="contactPhone"
            />
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-2 col-form-label fw-bold fs-6">
            <span class="required">العنوان</span>
          </label>
          <div class="col-lg-10 fv-row">
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              name="contactPhone"
            />
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-2 col-form-label fw-bold fs-6">
            عنوان تمهيدي
          </label>
          <div class="col-lg-10 fv-row">
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              name="contactPhone"
            />
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-2 col-form-label fw-bold fs-6">
            <span class="required">مقدمة</span>
          </label>
          <div class="col-lg-10 fv-row">
            <textarea
              type="text"
              class="form-control form-control-lg form-control-solid"
              name="contactPhone"
            ></textarea>
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-2 col-form-label required fw-bold fs-6">
            جسم الخبر
          </label>
          <!-- TODO: Implement tiny mce -->
          <div class="col-lg-10 fv-row">
            <ckeditor
              [data]="editorData"
              (change)="onChange($event)"
            ></ckeditor>
          </div>
        </div>
        <div class="separator my-3 opacity-75"></div>
        <div class="row mb-6">
          <label class="col-lg-2 col-form-label required fw-bold fs-6"
            >تاجز</label
          >
          <div class="col-lg-10 fv-row">
            <input
              class="form-control"
              value="tag1, tag2, tag3"
              id="kt_tagify_1"
            />
          </div>
        </div>
        <div class="separator my-3 opacity-75"></div>

        <div class="row mb-6">
          <label class="col-lg-2 col-form-label required fw-bold fs-6">
            الصورة الأولي
          </label>
          <div class="col-lg-10 fv-row">
            <app-add-image></app-add-image>
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6 mt-2">
            <span class="required">تعليق الصورة الأولي</span>
          </label>
          <div class="col-lg-8 fv-row">
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              name="PictureCaption1"
            />
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6">
            <span class="required">المرفقات</span>
          </label>
          <div class="col-lg-8 fv-row mb-6">
            <!--begin::Image input placeholder-->

            <!--end::Image input placeholder-->

            <!--begin::Image input-->
            <div
              class="image-input image-input-outline"
              data-kt-image-input="true"
              style="
                background-image: url(../../../../assets/media/svg/avatars/blank.svg);
              "
            >
              <!--begin::Image preview wrapper-->
              <div
                class="image-input-wrapper w-125px h-125px"
                [ngClass]="filePreview ? '' : 'image-input-placeholder'"
                [ngStyle]="{
                  'background-image': filePreview && 'url(' + filePreview + ')'
                }"
              ></div>
              <!--end::Image preview wrapper-->

              <!--begin::Edit button-->
              <label
                class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow"
                data-kt-image-input-action="change"
                data-bs-toggle="tooltip"
                data-bs-dismiss="click"
                title="Change avatar"
              >
                <i class="ki-duotone ki-pencil fs-6"
                  ><span class="path1"></span><span class="path2"></span
                ></i>

                <!--begin::Inputs-->
                <input
                  type="file"
                  (change)="onFileSelected($event)"
                  name="avatar"
                  accept=".png, .jpg, .jpeg"
                />
                <input type="hidden" name="avatar_remove" />
                <!--end::Inputs-->
              </label>
              <!--end::Edit button-->

              <!--begin::Cancel button-->
              <span
                class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow"
                data-kt-image-input-action="cancel"
                data-bs-toggle="tooltip"
                data-bs-dismiss="click"
                title="Cancel avatar"
              >
                <i class="ki-outline ki-cross fs-3"></i>
              </span>
              <!--end::Cancel button-->

              <!--begin::Remove button-->
              <span
                class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow"
                data-kt-image-input-action="remove"
                data-bs-toggle="tooltip"
                data-bs-dismiss="click"
                title="Remove avatar"
                [ngClass]="selectedFile ? '' : 'd-none'"
                (click)="removeSelectedImg()"
              >
                <i class="ki-outline ki-cross fs-3"></i>
              </span>
              <!--end::Remove button-->
            </div>
            <!--end::Image input-->
          </div>
          <div class="row mb-6">
            <label class="col-lg-4 col-form-label required fw-bold fs-6"
              >البوم المحتوي</label
            >
            <div class="col-lg-8">
              <select class="form-select form-select-solid" name="catId">
                @for(item of albums; track item;){
                <option value="{{ item.galleryID }}">
                  {{ item.galleryTitle }}
                </option>
                }
              </select>
            </div>
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"
            >محتوي فيديو</label
          >
          <div class="col-lg-8 d-flex align-items-center">
            <div class="form-check form-check-solid form-switch fv-row">
              <input
                class="form-check-input w-45px h-30px"
                type="checkbox"
                id="allowmarketing"
              /><label class="form-check-label"></label>
            </div>
          </div>
        </div>
        <div class="separator my-3 opacity-75"></div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6">
            <span class="required">ملاحظات</span>
          </label>
          <div class="col-lg-8 fv-row">
            <textarea
              type="text"
              class="form-control form-control-lg form-control-solid"
              name="contactPhone"
            ></textarea>
          </div>
        </div>
        <div class="separator my-3 opacity-75"></div>

        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"
            >شريط الاخبار
          </label>
          <div class="col-lg-8 d-flex align-items-center">
            <div class="form-check form-check-solid form-switch fv-row">
              <input
                class="form-check-input w-45px h-30px"
                type="checkbox"
                id="allowmarketing"
              /><label class="form-check-label"></label>
            </div>
          </div>
          <label class="col-lg-4 col-form-label fw-bold fs-6"
            >الأولي - رئيسي
          </label>
          <div class="col-lg-8 d-flex align-items-center">
            <div class="form-check form-check-solid form-switch fv-row">
              <input
                class="form-check-input w-45px h-30px"
                type="checkbox"
                id="allowmarketing"
              /><label class="form-check-label"></label>
            </div>
          </div>
          <label class="col-lg-4 col-form-label fw-bold fs-6"
            >الأولي - رئيسي2
          </label>
          <div class="col-lg-8 d-flex align-items-center">
            <div class="form-check form-check-solid form-switch fv-row">
              <input
                class="form-check-input w-45px h-30px"
                type="checkbox"
                id="allowmarketing"
              /><label class="form-check-label"></label>
            </div>
          </div>
          <label class="col-lg-4 col-form-label fw-bold fs-6"
            >تثبيت الخبر
          </label>
          <div class="col-lg-8 d-flex align-items-center">
            <div class="form-check form-check-solid form-switch fv-row">
              <input
                class="form-check-input w-45px h-30px"
                type="checkbox"
                id="allowmarketing"
              /><label class="form-check-label"></label>
            </div>
          </div>
          <label class="col-lg-4 col-form-label fw-bold fs-6">صور </label>
          <div class="col-lg-8 d-flex align-items-center">
            <div class="form-check form-check-solid form-switch fv-row">
              <input
                class="form-check-input w-45px h-30px"
                type="checkbox"
                id="allowmarketing"
              /><label class="form-check-label"></label>
            </div>
          </div>
          <label class="col-lg-4 col-form-label fw-bold fs-6">
            اخبار خاصة
          </label>
          <div class="col-lg-8 d-flex align-items-center">
            <div class="form-check form-check-solid form-switch fv-row">
              <input
                class="form-check-input w-45px h-30px"
                type="checkbox"
                id="allowmarketing"
              /><label class="form-check-label"></label>
            </div>
          </div>
          <label class="col-lg-4 col-form-label fw-bold fs-6">
            رئيسية الباب
          </label>
          <div class="col-lg-8 d-flex align-items-center">
            <div class="form-check form-check-solid form-switch fv-row">
              <input
                class="form-check-input w-45px h-30px"
                type="checkbox"
                id="allowmarketing"
              /><label class="form-check-label"></label>
            </div>
          </div>
          <label class="col-lg-4 col-form-label fw-bold fs-6">
            رئيسية القسم
          </label>
          <div class="col-lg-8 d-flex align-items-center">
            <div class="form-check form-check-solid form-switch fv-row">
              <input
                class="form-check-input w-45px h-30px"
                type="checkbox"
                id="allowmarketing"
              /><label class="form-check-label"></label>
            </div>
          </div>
        </div>
        <div class="row mb-6">
          <!--begin::Label-->
          <label class="col-lg-4 col-form-label fw-bold fs-6">نشر في</label>
          <div class="col-lg-8 fv-row">
            <input
              class="form-control form-control-solid"
              placeholder="Pick date rage"
              id="kt_daterangepicker_2"
            />
          </div>
        </div>
      </div>
      <div class="card-footer py-6 px-9">
        @if (isLoading$ | async) {
        <button
          type="button"
          class="btn btn-primary"
          [disabled]="isLoading$ | async"
        >
          <span clas="indicator-progress" [style.display]="'block'">
            انتظر قليلا...{{ " " }}
            <span
              class="spinner-border spinner-border-sm align-middle ms-2"
            ></span>
          </span>
        </button>
        }@else {
        <div class="d-flex w-25 me-auto mb-3">
          <select
            class="form-select form-select-solid px-8 rounded-start-0 form-select-lg"
            name="newsAction"
          >
            <option value="1">نشر مؤرخ</option>
            <option value="2">حفظ وتمرير</option>
            <option value="3">حفظ</option>
            <option value="4">حفظ ونشر</option>
          </select>
          <button
            type="button"
            class="btn btn-primary p-2 rounded-end-0"
            type="submit"
            [disabled]="isLoading$ | async"
          >
            <app-keenicon name="left" class="fs-1 text-white"></app-keenicon>
          </button>
        </div>
        <p class="text-muted text-right me-auto w-25">
          يمكنك اختيار طريقة الحفظ, ثم الضغط علي السهم للتأكيد.
        </p>
        }
      </div>
    </form>
  </div>
</div>
