<div class="card mb-5 mb-xl-10">
  <div class="card-header border-0 p-0 cursor-pointer">
    <div class="card-title m-0" style="padding: 0 2.25rem">
      <h3 class="fw-bolder mt-4">أضافة مادة</h3>
    </div>
    <ng-content></ng-content>
  </div>
  <div class="card-body border-top p-9">
    <form [formGroup]="addNewForm" class="form">
      <div class="row mb-6">
        <label class="col-lg-2 col-form-label fw-bold fs-6">
          <span class="required">نوع المادة</span>
        </label>
        <div class="col-lg-4">
          <select
            class="form-select w-fit form-select-solid"
            data-kt-select2="true"
            data-placeholder="Select option"
            data-allow-clear="true"
            formControlName="NewsType"
          >
            @for(item of contentTypes; track item; let idx = $index){
            <option value="{{ item.typeId }}">{{ item.contentType1 }}</option>
            }
          </select>
        </div>
      </div>
      <div class="separator my-3 opacity-75"></div>
      <div class="row mb-6">
        <label class="col-lg-2 col-form-label fw-bold fs-6">
          <span class="required">التصنيف</span>
        </label>
        <div class="col-lg-4">
          <select
            class="form-select form-select-solid"
            (change)="onSelectedNewsCategoriesChange($event)"
            formControlName="sectionId"
          >
            <option value=""></option>
            @for(category of newsCategories; track category;){
            @if(!category.hide){
            <option value="{{ category.categoryID }}">
              {{ category.name }}
            </option>
            }}
          </select>
        </div>
        <label class="col-lg-2 col-form-label fw-bold fs-6">
          <span class="required">القسم</span>
        </label>
        <div class="col-lg-4">
          <select class="form-select form-select-solid" formControlName="catId">
            @for(subCategory of newsSubCategories; track subCategory;){
            <option value="{{ subCategory.sectionID }}">
              {{ subCategory.secTitle }}
            </option>
            }
          </select>
        </div>
      </div>
      <div class="row mb-6">
        <label class="col-lg-2 col-form-label fw-bold fs-6">
          <span class="required">كتب</span>
        </label>
        <div class="col-lg-10 fv-row">
          <div class="input-group mb-5">
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              [ngClass]="byLine.value.length ? 'rounded-start-0' : ''"
              #byLine
              formControlName="ByLine"
            />
            @if(byLine.value.length){
            <span
              class="input-group-text rounded-end-0 rounded-start"
              id="basic-addon2"
            >
              {{ byLine.value.length }}
            </span>
            }
          </div>
        </div>
      </div>
      <div class="row mb-6">
        <label class="col-lg-2 col-form-label fw-bold fs-6">
          <span class="required">العنوان</span>
        </label>
        <div class="col-lg-10 fv-row">
          <div class="input-group mb-5">
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              formControlName="Title"
              [ngClass]="Title.value.length ? 'rounded-start-0' : ''"
              #Title
            />
            @if(Title.value.length){
            <span
              class="input-group-text rounded-end-0 rounded-start"
              id="basic-addon2"
            >
              {{ Title.value.length }}
            </span>
            }
          </div>
        </div>
      </div>
      <div class="row mb-6">
        <label class="col-lg-2 col-form-label fw-bold fs-6">
          عنوان تمهيدي
        </label>
        <div class="col-lg-10 fv-row">
          <div class="input-group mb-5">
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              [ngClass]="SubTitle.value.length ? 'rounded-start-0' : ''"
              formControlName="SubTitle"
              #SubTitle
            />
            @if(SubTitle.value.length){
            <span
              class="input-group-text rounded-end-0 rounded-start"
              id="basic-addon2"
            >
              {{ SubTitle.value.length }}
            </span>
            }
          </div>
        </div>
      </div>
      <div class="row mb-6">
        <label class="col-lg-2 col-form-label fw-bold fs-6">
          <span class="required">مقدمة</span>
        </label>
        <div class="col-lg-10 fv-row">
          <div class="input-group mb-5">
            <textarea
              type="text"
              class="form-control form-control-lg form-control-solid"
              [ngClass]="Brief.value.length ? 'rounded-start-0' : ''"
              formControlName="Brief"
              #Brief
            ></textarea>
            @if(Brief.value.length){
            <span
              class="input-group-text rounded-end-0 rounded-start"
              id="basic-addon2"
            >
              {{ Brief.value.length }}
            </span>
            }
          </div>
        </div>
      </div>
      <div class="row mb-6">
        <label class="col-lg-2 col-form-label required fw-bold fs-6">
          جسم الخبر
        </label>
        <div class="col-lg-10 fv-row">
          <editor
            [init]="init"
            apiKey="ahxsnaz651emu6ebjchn1szpv76eega3bqmgh9womdkplffn"
            formControlName="Story"
          />
        </div>
      </div>
      <div class="separator my-3 opacity-75"></div>
      <div class="row mb-6">
        <label class="col-lg-2 col-form-label required fw-bold fs-6"
          >تاجز</label
        >
        <div class="col-lg-10 fv-row">
          <input
            class="form-control form-control-solid"
            id="kt_tagify_1"
            formControlName="Tags"
          />
        </div>
      </div>
      <div class="separator my-3 opacity-75"></div>

      <div class="row mb-6">
        <label class="col-lg-2 col-form-label required fw-bold fs-6">
          الصورة الأولي
        </label>
        <div class="col-lg-10 fv-row d-flex align-items-center gap-2">
          @if(selectedImage){
          <app-image
            [selectedImage]="selectedImage"
            (isSelectedImageRemovedEmitter)="
              recieveIsSelectedSelectedImageRemoved($event)
            "
          ></app-image
          >}
          <app-add-image
            (selectedImageEmitter)="recieveSelectedImage($event)"
          ></app-add-image>
          <app-upload-image></app-upload-image>
        </div>
      </div>
      <div class="row mb-6">
        <label class="col-lg-2 col-form-label fw-bold fs-6 mt-2">
          <span class="required">تعليق الصورة الأولي</span>
        </label>
        <div class="col-lg-10 fv-row">
          <div class="input-group mb-5">
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              [ngClass]="PictureCaption1.value.length ? 'rounded-start-0' : ''"
              formControlName="PictureCaption1"
              #PictureCaption1
            />
            @if(PictureCaption1.value.length){
            <span
              class="input-group-text rounded-end-0 rounded-start"
              id="basic-addon2"
            >
              {{ PictureCaption1.value.length }}
            </span>
            }
          </div>
        </div>
      </div>
      <div class="row mb-6">
        <label class="col-lg-2 col-form-label fw-bold fs-6">
          <span class="required">المرفقات</span>
        </label>
        <div class="col-lg-10 fv-row mb-6">
          <app-image [formControlName]="''"></app-image>
        </div>
        <div class="row mb-6">
          <ul class="d-flex align-items-center gap-2">
            @for(item of selectedAlbums; track item;){
            <li
              class="d-flex align-items-center py-2 bg-secondary px-2 rounded"
            >
              <button
                class="btn btn-sm btn-icon btn-active-color-success"
                (click)="onRemoveAlbum(item.galleryID)"
              >
                <app-keenicon name="cross" class="fs-1"></app-keenicon>
              </button>
              {{ item.galleryTitle }}
            </li>
            }
          </ul>
          <label class="col-lg-2 col-form-label required fw-bold fs-6"
            >البوم المحتوي</label
          >
          <div class="col-lg-8">
            <select
              #albumSelect
              class="form-select form-select-solid"
              name="catId"
            >
              @for(item of albums; track item;){
              <option value="{{ item.galleryID }}">
                {{ item.galleryTitle }}
              </option>
              }
            </select>
          </div>
          <div class="col-lg-2">
            <button
              (click)="onSelectAlbum(albumSelect.value)"
              class="btn btn-primary d-flex align-items-center gap-3"
            >
              اضافة
            </button>
          </div>
        </div>
      </div>
      <div class="row mb-6">
        <label class="col-lg-2 col-form-label fw-bold fs-6">محتوي فيديو</label>
        <div class="col-lg-10 d-flex align-items-center">
          <div class="form-check form-check-solid form-switch fv-row">
            <input
              class="form-check-input w-45px h-30px"
              type="checkbox"
              formControlName="ChkNewsTicker"
            /><label class="form-check-label"></label>
          </div>
        </div>
      </div>
      <div class="separator my-3 opacity-75"></div>
      <div class="row mb-6">
        <label class="col-lg-2 col-form-label fw-bold fs-6">
          <span class="required">ملاحظات</span>
        </label>
        <div class="col-lg-10 fv-row">
          <div class="input-group mb-5">
            <textarea
              type="text"
              class="form-control form-control-lg form-control-solid"
              [ngClass]="Notes.value.length ? 'rounded-start-0' : ''"
              formControlName="Notes"
              #Notes
            ></textarea>
            @if(Notes.value.length){
            <span
              class="input-group-text rounded-end-0 rounded-start"
              id="basic-addon2"
            >
              {{ Notes.value.length }}
            </span>
            }
          </div>
        </div>
      </div>
      <div class="separator my-3 opacity-75"></div>

      <div class="row mb-6">
        <label class="col-lg-3 col-form-label fw-bold fs-6"
          >شريط الاخبار
        </label>
        <div class="col-lg-1 d-flex align-items-center">
          <div class="form-check form-check-solid form-switch fv-row">
            <input
              class="form-check-input w-45px h-30px"
              type="checkbox"
              id="allowmarketing"
            /><label class="form-check-label"></label>
          </div>
        </div>
        <label class="col-lg-3 col-form-label fw-bold fs-6"
          >الأولي - رئيسي
        </label>
        <div class="col-lg-1 d-flex align-items-center">
          <div class="form-check form-check-solid form-switch fv-row">
            <input
              class="form-check-input w-45px h-30px"
              type="checkbox"
              id="allowmarketing"
            /><label class="form-check-label"></label>
          </div>
        </div>
        <label class="col-lg-3 col-form-label fw-bold fs-6"
          >الأولي - رئيسي2
        </label>
        <div class="col-lg-1 d-flex align-items-center">
          <div class="form-check form-check-solid form-switch fv-row">
            <input
              class="form-check-input w-45px h-30px"
              type="checkbox"
              id="allowmarketing"
            /><label class="form-check-label"></label>
          </div>
        </div>
        <label class="col-lg-3 col-form-label fw-bold fs-6">تثبيت الخبر </label>
        <div class="col-lg-1 d-flex align-items-center">
          <div class="form-check form-check-solid form-switch fv-row">
            <input
              class="form-check-input w-45px h-30px"
              type="checkbox"
              id="allowmarketing"
            /><label class="form-check-label"></label>
          </div>
        </div>
        <label class="col-lg-3 col-form-label fw-bold fs-6">صور </label>
        <div class="col-lg-1 d-flex align-items-center">
          <div class="form-check form-check-solid form-switch fv-row">
            <input
              class="form-check-input w-45px h-30px"
              type="checkbox"
              id="allowmarketing"
            /><label class="form-check-label"></label>
          </div>
        </div>
        <label class="col-lg-3 col-form-label fw-bold fs-6"> اخبار خاصة </label>
        <div class="col-lg-1 d-flex align-items-center">
          <div class="form-check form-check-solid form-switch fv-row">
            <input
              class="form-check-input w-45px h-30px"
              type="checkbox"
              id="allowmarketing"
            /><label class="form-check-label"></label>
          </div>
        </div>
        <label class="col-lg-3 col-form-label fw-bold fs-6">
          رئيسية الباب
        </label>
        <div class="col-lg-1 d-flex align-items-center">
          <div class="form-check form-check-solid form-switch fv-row">
            <input
              class="form-check-input w-45px h-30px"
              type="checkbox"
              id="allowmarketing"
            /><label class="form-check-label"></label>
          </div>
        </div>
        <label class="col-lg-3 col-form-label fw-bold fs-6">
          رئيسية القسم
        </label>
        <div class="col-lg-1 d-flex align-items-center">
          <div class="form-check form-check-solid form-switch fv-row">
            <input
              class="form-check-input w-45px h-30px"
              type="checkbox"
              id="allowmarketing"
            /><label class="form-check-label"></label>
          </div>
        </div>
      </div>
      <app-date-input [label]="'نشر في'" [id]="'#add-new-date'"></app-date-input>
      <div class="separator my-3 opacity-75"></div>
      <div class="d-flex justify-content-center gap-3">
        <div class="py-6">
          @if (isLoading$ | async) {
          <button
            type="button"
            class="btn btn-primary"
            [disabled]="isLoading$ | async"
          >
            <span clas="indicator-progress" [style.display]="'block'">
              انتظر قليلا...{{ " " }}
              <span
                class="spinner-border spinner-border-sm align-middle ms-2"
              ></span>
            </span>
          </button>
          }@else {
          <div class="text-center d-flex justify-content-center">
            <button
              type="button"
              class="btn btn-primary"
              type="submit"
              [disabled]="isLoading$ | async"
            >
              نشر مؤرخ
              <app-keenicon
                name="notepad-bookmark"
                class="fs-1 mx-1 text-white"
              ></app-keenicon>
            </button>
          </div>
          }
        </div>
        <div class="py-6">
          @if (isLoading$ | async) {
          <button
            type="button"
            class="btn btn-primary"
            [disabled]="isLoading$ | async"
          >
            <span clas="indicator-progress" [style.display]="'block'">
              انتظر قليلا...{{ " " }}
              <span
                class="spinner-border spinner-border-sm align-middle ms-2"
              ></span>
            </span>
          </button>
          }@else {
          <div class="text-center d-flex justify-content-center">
            <button
              type="button"
              class="btn btn-primary"
              type="submit"
              [disabled]="isLoading$ | async"
            >
              حفظ وتمرير
              <app-keenicon
                name="file-left"
                class="fs-1 mx-1 text-white"
              ></app-keenicon>
            </button>
          </div>
          }
        </div>
        <div class="py-6">
          @if (isLoading$ | async) {
          <button
            type="button"
            class="btn btn-primary"
            [disabled]="isLoading$ | async"
          >
            <span clas="indicator-progress" [style.display]="'block'">
              انتظر قليلا...{{ " " }}
              <span
                class="spinner-border spinner-border-sm align-middle ms-2"
              ></span>
            </span>
          </button>
          }@else {
          <div class="text-center d-flex justify-content-center">
            <button
              type="button"
              class="btn btn-primary"
              type="submit"
              [disabled]="isLoading$ | async"
            >
              حفظ
              <app-keenicon
                name="file-up"
                class="fs-1 mx-1 text-white"
              ></app-keenicon>
            </button>
          </div>
          }
        </div>
      </div>

      <div class="py-6">
        @if (isLoading$ | async) {
        <button
          type="button"
          class="btn btn-primary"
          [disabled]="isLoading$ | async"
        >
          <span clas="indicator-progress" [style.display]="'block'">
            انتظر قليلا...{{ " " }}
            <span
              class="spinner-border spinner-border-sm align-middle ms-2"
            ></span>
          </span>
        </button>
        }@else {
        <div class="text-center d-flex justify-content-center">
          <button
            type="button"
            class="btn btn-danger"
            type="submit"
            [disabled]="isLoading$ | async"
          >
            حفظ ونشر
            <app-keenicon
              name="file-added"
              class="fs-1 mx-1 text-white"
            ></app-keenicon>
          </button>
        </div>
        }
      </div>
    </form>
  </div>
</div>
