<div class="card">
  <div class="card-header border-0">
    <div
      class="d-flex flex-nowrap align-items-center gap-5 w-100"
      [ngClass]="!isSearch ? 'justify-content-end' : ''"
    >
      @if(isSearch){
      <form class="w-100 position-relative" autoComplete="off">
        <app-keenicon
          name="magnifier"
          class="fs-2 position-absolute top-50 start-0 ms-5 translate-middle-y"
        ></app-keenicon>
        <input
          type="text"
          class="form-control form-control-solid pe-5"
          name="search"
          placeholder="{{ searchPlaceholder }}"
        />
      </form>
      }

      <div class="d-flex align-items-center gap-2">
        @if(isCategories || isRoles || isSubCategories || isStatus){
        <div class="card-toolbar">
          <button
            type="button"
            class="btn btn-sm btn-icon btn-color-primary btn-active-light-primary"
            data-kt-menu-trigger="click"
            data-kt-menu-placement="bottom-end"
            data-kt-menu-flip="top-end"
          >
            <app-keenicon name="category" class="fs-2"></app-keenicon>
          </button>
          <app-dropdown-menu1
            [isCategories]="isCategories"
            [isRoles]="isRoles"
            [isSubCategories]="isSubCategories"
            [isStatus]="isStatus"
            (filterOptionsEmitter)="(recevieFilterOption($event))"
          ></app-dropdown-menu1>
        </div>
        } @if(customBtns){ @for(btn of customBtns; track btn){
        <button
          (click)="btn.onClick()"
          class="btn btn-sm d-flex flex-nowrap align-items-center"
          [ngClass]="'btn-' + btn.bgColor"
        >
          {{ btn.content }}
        </button>
        } }
        <ng-content></ng-content>
      </div>
    </div>
  </div>
  <div class="card-body py-3">
    <div class="table-responsive">
      <table
        class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4"
      >
        <thead>
          <tr class="fw-bolder text-muted">
            @if(headerOptions.checkBox){
            <th class="w-25px">
              <div
                class="form-check form-check-sm form-check-custom form-check-solid"
              >
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="1"
                  data-kt-check="true"
                  data-kt-check-target=".widget-9-check"
                />
              </div>
            </th>
            }
            <th class="min-w-150px">العنوان</th>
            <!-- <th class="min-w-140px">باب</th> -->
            <th class="min-w-120px">الوقت</th>
            <th class="min-w-100px text-end pe-2">التاريخ</th>
          </tr>
        </thead>
        <tbody>
          @if(items&&items.length){ @for(item of items; track item; let idx =
          $index; let count = $count){
          <tr>
            @if(headerOptions.checkBox){
            <td>
              <div
                class="form-check form-check-sm form-check-custom form-check-solid"
              >
                <input
                  class="form-check-input widget-9-check"
                  type="checkbox"
                  value="{{ item.id }}"
                  (click)="onSelect($event)"
                />
              </div>
            </td>
            }
            <td>
              <div class="d-flex align-items-center">
                <!-- <div class="symbol symbol-45px me-5">
                <img src="./assets/media/avatars/300-14.jpg" alt="" />
              </div> -->
                <div class="d-flex justify-content-start flex-column">
                  <a
                    href="#"
                    class="text-gray-900 fw-bolder text-hover-primary fs-6"
                  >
                    {{ item.title }}
                  </a>
                  <span class="text-muted fw-bold text-muted d-block fs-7">
                    {{ item.category }}
                  </span>
                </div>
              </div>
            </td>
            <td>
              <span href="#" class="text-gray-900 fw-bolder d-block fs-7">
                {{ convertToArabicTime(item.time) }}
              </span>
            </td>
            <td class="text-end">
              <div class="d-flex flex-column w-100">
                <div class="d-flex flex-stack">
                  <span class="text-gray-900 fs-7 fw-bolder">{{
                    convertToFullDate(item.date)
                  }}</span>
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex justify-content-end flex-shrink-0">
                <!-- <a
                href="#"
                class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
              >
                <app-keenicon name="switch" class="fs-3"></app-keenicon>
              </a>
              <a
                href="#"
                class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
              >
                <app-keenicon name="pencil" class="fs-3"></app-keenicon>
              </a> -->
                @if(headerOptions.actions.includes('publish')){
                <button
                  (click)="publish()"
                  class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm mx-1"
                >
                  <app-keenicon
                    name="file-added"
                    title="نشر"
                    class="fs-3"
                  ></app-keenicon>
                </button>
                } @if(headerOptions.actions.includes('restore')){
                <button
                  (click)="restore()"
                  class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm mx-1"
                >
                  <app-keenicon
                    name="arrow-zigzag"
                    title="اعادة"
                    class="fs-3"
                  ></app-keenicon>
                </button>
                } @if(headerOptions.actions.includes('delete')){
                <button
                  (click)="deleteNew(item.id)"
                  class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm mx-1"
                >
                  <app-keenicon
                    name="trash"
                    title="حذف"
                    class="fs-3"
                  ></app-keenicon>
                </button>
                } @if(headerOptions.actions.includes('restoreDraft')){
                <button
                  (click)="restoreDraft(item.id)"
                  class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm mx-1"
                >
                  <app-keenicon
                    name="arrow-zigzag"
                    title="استرجاع"
                    class="fs-3"
                  ></app-keenicon>
                </button>
                }
              </div>
            </td>
          </tr>
          } }@else {
          <tr>
            <td colspan="4" class="text-center text-gray-900 fw-bolder fs-6">
              لا يوجد بيانات
            </td>
          </tr>
          }
        </tbody>

        <!-- end::Table body -->
      </table>
      @if(items){
      <div class="d-flex flex-stack flex-wrap pt-10">
        <div class="fs-6 fw-bold text-gray-700">
          صفحة 1 من صفحة 1 من {{ items.length }} اخبار
        </div>

        <ul class="pagination">
          <li (click)="onPageChange($event)" class="page-item next">
            <a class="page-link cursor-pointer">
              <i class="next"></i>
            </a>
          </li>
          <!-- [TODO]: for loop to display available pages -->
          <li (click)="onPageChange($event)" class="page-item active">
            <a class="page-link cursor-pointer"> 1 </a>
          </li>
          <li (click)="onPageChange($event)" class="page-item previous">
            <a class="page-link cursor-pointer">
              <i class="previous"></i>
            </a>
          </li>
        </ul>
      </div>
      }
    </div>
  </div>
</div>
